@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rubik;
  src: url('src/assets/Noto_Sans_Lao_Looped/NotoSansLaoLooped-VariableFont_wdth,wght.ttf');
}

* {
  color: white;
  font-family: Rubik;
  letter-spacing: 0.05rem;
}

.text-shadow {
  text-shadow: #282828 0 0 20px;
}
